@import url('https://fonts.googleapis.com/css?family=Cairo:300,600,700,900');

body {
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    color: #494949;
}

h1 { font-weight: 900; }
h2, h3 { font-weight: 700; }
h4, h5, h6 { font-weight: 600; }
p { color: #6c757d; }

.about-section {
    width: 100%;
    min-height: 100vh; /* use min-height instead of height */
    display: flex;
}

.left-header {
    position: sticky;
    top: 0;
    width: 25%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://source.unsplash.com/4kkYkFNfJV8/706x900');
    background-size: cover;
    background-position: center;
    padding: 4rem;
    color: #fff;
    display: flex;
    align-items: flex-end;
}

.main-content {
    flex-grow: 1;
}

.main-heading {
    font-weight: 700;
    font-size: 2rem;
}

.sub-heading {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}

.about__skills .icon-18 {
    font-size: 1.8rem;
    color: #f12d2d;
}

.about-data {
    position: relative;
}

.about-data::before {
    position: absolute;
    content: '</ ABOUT >';
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    font-weight: 900;
    color: #dee2e6;
    background-color: #fff;
    padding: 0 0.5rem;
}

.about-data .data-number {
    font-size: 1.2rem;
    color: #494949;
}

@media (max-width: 991px) {
    .left-header {
        display: none;
    }
}
