body{
    width: 100%;
}
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 10px;
}
li{
    margin: 10px;
}
.search{
    text-align: center;
    margin: 1rem 0;
}
.search-input{
    width: 32rem;
    margin: 0 1rem;
}